mbody {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 20px;
}

body{
    background-color: navy;
    color: olivedrab;
}

nav{
    background-color: beige;
    max-height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    justify-items: center;
}


.container {
    max-width: 600px;
    margin: auto;
    background: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-group button:hover {
    background: olive;
}

.content-section {
    padding: 15px;
    background: beige;
    border-radius: 5px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid olivedrab;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.content-section{
    background-color: beige;
}

.btn-calcular, .btn-comparar {
    background: olivedrab;
}

#btnCalcular:hover, #btnComparar:hover, #btnSecondary:hover {
    color: black;
}

#btnComparar, #btnCalcular{
    color: olivedrab;
}



/* Estilo para comparação */
#investimentos {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.investimento {
    flex: 1;
    padding: 10px;
    background: beige;
}

/* Custom Modal Styling */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: olivedrab;
    color: beige;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-body .row {
    margin-bottom: 20px;
}

.modal-body .col-md-6 {
    border-right: 1px solid #ccc;
    padding: 10px;
}

.modal-body .col-md-6:last-child {
    border-right: none;
}

.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.btn-secondary{
    color: white;
    background-color: olivedrab;
}